# Python cache
__pycache__/
*.py[cod]
*.pyo

# Logs
*.log

# Wireshark capture files
*.pcap
*.pcapng

# Environment
env/
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.tmp
*~

# IDE files
.vscode/
.idea/
